/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: rgb(50, 50, 50);
  color: rgb(225, 225, 225);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

}

/* .dark-mode {
  background-color: rgb(50, 50, 50);
  color: rgb(225, 225, 225);
} */

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*---------------------------------------------*/

.firstTab {
  padding-left: 3vw;
  padding-right: 7vw;
}

.secondTab {
  padding-left: 3vw;
  padding-right: 7vw;
	margin-left: 1vw;
}

.thirdTab {
  padding-left: 3vw;
  padding-right: 7vw;
	margin-left: 2vw;
}

.summary {
  padding-left: 3vw;
  padding-right: 7vw;
	margin-left: 3vw;
	width: 90vw;
}

.imgPreview {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgPreviewLine {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#NavBar a {
	color: #ffff;
}

#NavBar {
	color: #4CAF50;
}

#NavBar ul {
	padding: 0;
	margin: 0;
	background: #004AC2;
	float: left;
}

#NavBar li {
	float: left;
	display: inline;
	position: relative;
	width: 10vw;
	list-style: none;
	font-size: 1.5em;
  padding-left: .5vw;
  padding-right: .5vw;
  border: .1em solid #b4c6cf;
}

#NavBar ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	background: #4797ff;
	display: none;
}

#NavBar ul ul ul {
	left: 100%;
	top: 0;
	background: #00B3AA;
}


#NavBar li:hover > ul {
	color: #00FA79;
	display: block;
  font-size: .6em;
}

div.spoiler {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding:0;
  text-align: center;
}

div.spoiler figure {
  vertical-align: bottom;
  filter: blur(20px) grayscale(100%);
  transition: 0.3s;
}

div.spoiler input {
  width: 0;
  height: 0;
}

div.spoiler input:checked ~ figure {
  filter: none;
}

div.spoiler input:checked, div.spoiler input:checked ~ label {
	opacity: 0.1;
}

.spoiler-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
	width: 50%;
	padding: 0 1rem;
	font-size: 1rem;
	margin: auto;
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	text-align: center;
	border-radius: 1rem;
	cursor: pointer;
}

p {
	clear: left;
	padding-top: 1em;
}
